<div class="hero-unit">  
    <div class="hero-unit">
        <h1>欢迎来到 misblog</h1>
        <p>misblog 是一个基于 Node.js 的微博系统。</p>
        <p>
            <a class="btn btn-primary btn-large" href="/login">登录</a>
            <a class="btn btn-large" href="/reg">立即注册</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h2>Chairman Mao 说</h2>
        <p>雄关漫道真如铁 而今迈步从头越</p>
    </div>
    <div class="col-lg-4">
        <h2>汉乐府.上邪</h2>
        <p>
          我欲与君相知，
          长命无绝衰。<br/>
          山无陵，
          江水为竭。<br/>
          冬雷震震，
          夏雨雪。<br/>
          天地合，
          乃敢与君绝。<br/>
        </p>
    </div>
    <div class="col-lg-4">
        <h2>屈原.楚辞</h2>
        <p>路漫漫其修远兮，吾将上下而求所</p>
    </div>
</div>